@import '../../../styles/screen-size';

.nav-bar-container {
  text-align: center;
  text-align: -webkit-center;
  max-width: 450px;

  .nav-bar-item {
    float: left;
    width: 25%;
    cursor: pointer;
    font-size: 24px;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 15px 0 15px;

    .unselected-text {
      color: #818181;
    }

    .selected-text {
      color: #FFFFFF;
    }
  }

  @media screen and (max-width: $maxSmallScreen) {
      visibility: hidden;
  }

  @media screen and (min-width: $minMediumScreen) and (max-width: $maxMediumScreen) {
    .nav-bar-item {
      font-size: 20px;
    }
  }

  @media screen and (min-width: $minLargeScreen) {
    .nav-bar-item {
      font-size: 24px;
    }
  }
}
