.badge-container {
  background-color: #2798D7;
  padding: 0 10px;
  border-radius: 33px;
  height: 44px;
  align-self: center;
  margin-left: 18px;

  .badge-text {
    color: white;
    padding: 0 10px;
    font-family: Poppins-SemiBold, sans-serif;
    align-content: center;
  }
}
