@import '../../../styles/colors';

.me-container {
  background-color: $backgroundColor1;

  background-repeat: no-repeat;
  padding: 70px 70px 90px 70px;
  background-size: 100%;

  .introduction-section {
    width: 100%;
  }
}

