@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200 800; /* Puedes ajustar los pesos según tus necesidades */
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('poppins/Poppins-SemiBold.ttf') format('truetype');
}
