@import "../../styles/alignment";

.background {
  background: #ACACAC;
  @include center-div;

  .presentation-flex-container {
    max-width: 1250px;
    width: 100%;
    background-color: white;

    .photo-container {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}
