@import '../../../styles/screen-size';

@media screen and (max-width: $maxSmallScreen) {
  #professional-image {
    height: 400px !important;
    width: 300px !important;
  }
}

@media screen and (min-width: $minMediumScreen) and (max-width: $maxMediumScreen) {

  #professional-image {
    height: 500px !important;
    width: 400px !important;
  }

}
