@import '../../../styles/colors';

.first-name {
  color: $whiteColor;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 87.75%;
  padding-bottom: 10px;
}
.last-name {
  color: $whiteColor;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: 87.75%;
}
